<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>StartuPublicity</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="../static/css/starter-template.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="\input" rel="noreferrer">StartuPublicity</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="\input" rel="noreferrer">Home</a></li>
            <li><a href="\about" rel="noreferrer">About</a></li>
          </ul>

        </div>
        
      </div>
    </nav>

    <div class = "container">
     <div class="page-header">
       <h3>Results for "{{title}}":</h3>
       <p class="lead">Your article is predicted to receive <em><strong>between {{min_claps}} and {{max_claps}}</strong></em> claps! </p>
     </div>
     
    <div class = "container">
       <p class="body">Articles on similar topics typically receive between {{min_claps_topic}} and {{max_claps_topic}} claps, although the most popular ones can get more than {{max_max_topic}} claps.  </p>
     </div>

    {% if max_claps > max_claps_topic %}
    <div class = "container">
     <div class="alert alert-success" role="alert">
        Your article will probably get <strong>more</strong> claps than average! 
      </div>
     </div>

    {% endif %}
    {% if max_claps == max_claps_topic %}
    <div class = "container">
     <div class="alert alert-warning" role="alert">
        Your article is predicted to have <strong>average</strong> performance. 
      </div>
     </div>

    {% endif %}
    {% if max_claps <= min_claps_topic %}
        <div class = "container">
     <div class="alert alert-danger" role="alert">
        Your article will be <strong>less popular</strong> than others with similar topics. You can do better!
      </div>
     </div>
    {% endif %}
     
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Spread the word!</h3>
            </div>
            <div class="panel-body">
              If you share your article on Facebook {{perturb_fb}} times, you could get up to {{max_claps_fb}} claps!
            </div>
          </div>
        </div>
       </div>



    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>